---
import { getEntry } from 'astro:content';
import Author from '@/components/ui/Author.astro';
import Container from '@/components/Container.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getLocalizedAuthor } from '@/lib/constants';
import PostPreview from '@/components/ui/PostPreview.astro';
import { getLocalizedContent } from '@/lib/content';

const entry = await getEntry('pages-en', 'writing');
const allPosts = await getLocalizedContent('posts', 'en');
const posts = allPosts.filter(({ data }) => !data.draft);
---

<BaseLayout seo={entry?.data.seo}>
  <Container as='section' class='py-6'>
    <Author {...getLocalizedAuthor('en')} />
  </Container>
  <Container as='section' class='py-6'>
    <div class="flex flex-col gap-6">
      <span class="text-headings">Latest posts</span>
      <ul class="flex flex-col gap-3">
        {posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime()).map((post) => <PostPreview entry={post} />)}
      </ul>
    </div>
  </Container>
</BaseLayout>